{% extends "controlapp/base.html" %}
{% block title %}Panel Sterowania{% endblock %}

{% block content %}
    <h3>Control Panel</h3>
    
    <div class="button-container">
        <button class="motor-btn" onclick="sendCommand('go')">GO</button>
        <button class="motor-btn" onclick="sendCommand('back')">BACK</button>
        <button class="motor-btn" onclick="sendCommand('left')">LEFT</button>
        <button class="motor-btn" onclick="sendCommand('right')">RIGHT</button>
        <button class="motor-btn" onclick="sendCommand('stop')">STOP</button>
    </div>

    <div class="button-container">
        <!-- NOWE: przyciski do kamery -->
        <button class="camera-btn" onclick="sendCommand('camera_on')">Camera ON</button>
        <button class="camera-btn" onclick="sendCommand('camera_off')">Camera OFF</button>
    </div>
    
    <!-- Miejsce na wyświetlanie obrazu z kamery -->
    <div style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <div id="cameraContainer" style="width: 320px; height: 240px; overflow: hidden; border: 1px solid black;">
            <img id="cameraFeed" style="width: 100%; height: 100%; object-fit: contain;" />
        </div>
    </div>

    <div class="logout-container">
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button class="logout-btn" type="submit">Logout</button>
        </form>
        <!-- Zamiast alertu -> link do /settings/ -->
        <a href="{% url 'settings' %}">
            <button class="settings-btn">
                Settings
            </button>
        </a>
    </div>


    <script>
        let socket = new WebSocket("ws://57.128.201.199:8005/ws/control/");
    
        socket.onopen = function() {
            console.log("Połączono z serwerem WebSocket (przeglądarka)");
        };
    
        socket.onmessage = function(event) {
            let data = JSON.parse(event.data);
            let img = document.getElementById("cameraFeed");
    
            if (data.image) {
                if (data.image === "") {
                    img.src = "";  // Oczyszczanie obrazu po camera_off
                } else {
                    img.src = "data:image/jpeg;base64," + data.image;
                }
            }
        };
    
        socket.onclose = function(e) {
            console.log("Połączenie WebSocket zamknięte", e);
        };
    
        function sendCommand(command) {
            if (command === "camera_off") {
                let img = document.getElementById("cameraFeed");
                img.src = ""; // Od razu ukrywamy obraz
    
                // Ustawienie opóźnionego odświeżenia strony po 0.5 sekundy
                setTimeout(() => {
                    location.reload();
                }, 1500);
            }
            socket.send(JSON.stringify({"command": command}));
        }
    </script>
    
{% endblock %}
