{% extends "controlapp/base.html" %}
{% block title %}Ustawienia{% endblock %}

{% block content %}
<h3>Settings</h3>

<form method="POST">
    {% csrf_token %}

    <label>Step time GO [us]:</label>
    <input type="number" step="0.1" name="step_time_go" value="{{ settings_data.step_time_go }}"><br><br>

    <label>Step time BACK [us]:</label>
    <input type="number" step="0.1" name="step_time_back" value="{{ settings_data.step_time_back }}"><br><br>

    <label>Step time TURN [us]:</label>
    <input type="number" step="0.1" name="step_time_turn" value="{{ settings_data.step_time_turn }}"><br><br>

    <label>Engine LEFT calib:</label>
    <input type="number" step="0.01" name="engine_left_calib" value="{{ settings_data.engine_left_calib }}"><br><br>

    <label>Engine RIGHT calib:</label>
    <input type="number" step="0.01" name="engine_right_calib" value="{{ settings_data.engine_right_calib }}"><br><br>

    <label>Turret step time [us]:</label>
    <input type="number" step="0.1" name="step_time_turret" value="{{ settings_data.step_time_turret }}"><br><br>

    <label>Turret steps:</label>
    <input type="number" name="steps_turret" value="{{ settings_data.steps_turret }}"><br><br>

    <label>Turret step time2 [us]:</label>
    <input type="number" step="0.1" name="step_time_turret2" value="{{ settings_data.step_time_turret2 }}"><br><br>

    <label>Turret steps2:</label>
    <input type="number" name="steps_turret2" value="{{ settings_data.steps_turret2 }}"><br><br>

    <label>turret_mark_x [px]:</label>
    <input type="number" step="0.1" name="turret_mark_x" value="{{ settings_data.turret_mark_x }}"><br><br>

    <label>turret_mark_y [px]:</label>
    <input type="number" name="turret_mark_y" value="{{ settings_data.turret_mark_y }}"><br><br>

    <label>record [0/1]:</label>
    <input type="number" name="record" value="{{ settings_data.record }}"><br><br>


    <button type="submit">Save</button>
</form>

<br>

<!-- Przyciski na dole: Zapis i Wstecz -->
<button type="button" onclick="window.location.href='{% url 'control' %}'">Back</button>
{% endblock %}
